/* - - - - - - - - - - - - - - - - - - - - -

 Title : Chic Workshop Wufoo Theem
 Author : Duncan Tang
 URL : http://www.chicworkshop.com

 Last Updated : 2014-08-07

- - - - - - - - - - - - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
	font-family: 'Josefin Sans', sans-serif;
}
#container {
    border-radius: 5px;
}

#logo {
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}
#logo a {
	background: url('https://dl.dropboxusercontent.com/u/8107465/Projects/chicworkshop/chicworkshop-logo-200.png') 220px 20px no-repeat;
    height: 60px;
}
#header {
	text-align: center;
}
.wufoo{
	font-family: 'Josefin Sans', sans-serif;
}
form.wufoo {
    margin: 5px 14px 0;
}
.wufoo .info h2 {
    color: #666;
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
	font-size: 18px;
}
.confirm h2 {
    font-weight: 300;
}
